.AppSettings {
    width: 100%;
    height: 100%;
}

.AppSettingsHeader {
    color: #FFF;

    h3 {
        margin: 5px 0px;
    }

    img {
        width : 75px;
        height: 75px;
    }
}

.AppSettingsInput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.AppSettingsLabel {
    flex: 1 0 50%;
    font-size: 0.857142857rem;
    color: #FFF;
}

.AppSettingsValue {
    flex: 1 0 50%;

    input {
        width : 50px;
    }
}