@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', 'sans-serif';
}

.AppSettingsContainer {
  width : 20vw;
  height: 100vh;
  background-color: #333;
}

.AppGrid {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AppStatistic {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 15vw;
  // height: 10vh;
  background-color: #333;
  color: #FFF;
  font-size: 0.714285714rem;
}
